body,html
{
    margin: 0;
    padding: 0;
    font-family: "DejaVu Serif"
}

#app
{
    display:flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    align-items: stretch;
}

/*****************************************/
/*      Menu                            */
/****************************************/

#vertical-menu
{
    flex-shrink: 0;
    min-width: 90px;
    background-color: rgb(80,80,80);
    text-align: center;
    border-right: 1px solid rgb(140,140,140);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    z-index: 10;
}

#vertical-menu > a
{
    color:white;
    text-decoration: none;
    display: block;
    padding: 20px 10px;
}

#vertical-menu > .router-link-active
{
    background-color: royalblue;    
}
#vertical-menu > a > img
{
    width: 40px;
}


/***************************************/

h1
{
    text-align: center;
    font-size: 2em;
    
}

h1
{
    font-weight: normal;
}




main
{
    flex:1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#submenu
{
    min-width: 240px;
    background-color: rgb(50,50,50);
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(100,100,100,1);
    z-index: 5;
    padding-top: 70px;
}

#submenu h2
{
    color:#C746C4;
    border-bottom: 1px solid #C746C4;
    display: none;
}

#submenu > .router-link-active
{
    background-color: black;
    border-radius: 5px;
    color:white;
} 

#submenu > a
{
    display: block;
    color:grey;
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-weight: 800;
    padding-left: 20px;
}

#content 
{
    flex:1;
    flex-shrink: 1;
    padding: 10px;
    
}

#content h2
{
    font-weight: normal;
    font-size: 1.5em;
    color:#8A1387;
    margin-bottom: 2px;
    text-align: left;   
}


.partie
{
    padding: 10px 10px;
    margin: auto;
}

.center
{
    text-align: center;
}

.infos
{
    width: 400px;
    margin: auto;
    text-align: center;
    padding: 10px;
    border:1px solid grey;
    max-width: 80%;
    margin-top: 10px;
    
}

.positif
{
    background-color: rgba(0,255,0,0.3);
}

.negatif
{
    background-color: rgba(255,0,0,0.3);
}

small
{
    font-weight: normal;
}

.separateur
{
    border-top: 1px solid grey;
    width: 50%;
    margin: 10px auto 0px auto;

}


/*************************/
/*    search menu        */
/************************/

#searchmenu
{
    background-color: black;
    min-width: 260px;
    flex: 0;
    color:white;
}


#searchmenu input[type="search"]
{
    width: calc(100% - 40px);
    height: 30px;
    border: none;
    border-radius: 20px;;
    box-shadow: 2px 2px 3px rgba(200,200,200,0.8) inset;
    margin: 20px;
    padding-left: 10px;
}

input[type=radio].search-result + label
{
    color:white;
    display: block;
    text-decoration: none;
    padding: 10px 10px 0px 10px;
}

input[type=radio].search-result:checked + label
{
    background-color: #134C8A;
    
} 

/*********************************/
/*      Form                    */
/********************************/

form .partie
{
    display: flex;
    flex-direction: row;
}

.partie.no-line
{
    border: none;
}

form .partie .title
{
    width: 250px;
    color: rgb(170,170,170);
}

form .partie .input
{
    flex:1;
}
label
{
    font-size: 1.1em;
    font-weight: 800;
    min-width: 200px;
    display: inline-block;
}
/* input radio */
input[type=radio].round-radio, input[type=radio].search-result
{
    display: none;
}

input[type=radio].round-radio + label .radio
{
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    box-shadow: 2px 2px 3px rgba(200,200,200,0.8) inset;
}

input[type=radio].round-radio:checked + label .radio .in
{
    height: 24px;
    width: 24px;
    background-color: black;
    border-radius: 15px;
    margin: auto;
    margin-top: 8px;
    box-shadow: 2px 2px 3px rgba(200,200,200,0.8);
}



input[type=text],input[type=password],input[type=tel],input[type=mail]
{
    height: 40px;
    width: 220px;
    background-color: rgb(250,250,250);
    border: none;
    box-shadow: 1px 1px 3px rgba(200,200,200,0.5) inset;
    border-radius: 4px;
    border: 1px solid linen;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

input[type=button],a.button
{
    height: 40px;
    width: 220px;
    border: none;
    box-shadow: 2px 2px 3px rgba(200,200,200,0.5);
    background-image:linear-gradient(60deg, grey, #302f2f);
    border: 1px solid lightgrey;
    border-radius: 6px;
    color: white;
    margin: 10px 10px;
    text-decoration: none;
    text-align: center;
}

a.button
{
    display: flex;
    justify-content: center;
    align-items: center;
}

label.vertical
{
    min-width: 250px;
    display: inline-block;
}

/********** information **************/



.partie .info
{
    width: 45%;
    display: inline-block;
    padding: 5px 10px;
    text-align: left;
}

.partie .info h3
{
    display: inline-block;
    padding-right: 10px;
    margin: 0;
    text-align: center;
}




