body,html
{
    margin: 0;
    padding: 0;
    font-family: "DejaVu sans"
}

#app
{
    display:flex;
    flex-direction: row;
    width: 100vw;
    min-height: 100vh;
    align-items: stretch;
}

/*****************************************/
/*      Menu                            */
/****************************************/

#vertical-menu
{
    flex-shrink: 0;
    min-width: 90px;
    background-color: rgb(80,80,80);
    text-align: center;
    border-right: 1px solid rgb(140,140,140);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    z-index: 10;
}

#vertical-menu > a
{
    color:white;
    text-decoration: none;
    display: block;
    opacity: 0.4;
    padding: 20px 10px;
}


#vertical-menu > a:hover
{
    opacity: 1;
}

#vertical-menu > .router-link-active
{
    opacity: 1;
}
#vertical-menu > a > img
{
    width: 60px;
    filter: invert(100%);
}

.hamburger
{
    position: absolute;
    top:10px;
    left: 10px;
    width: 40px;
    z-index: 50;
    filter: invert(100%);
    
}

/***************************************/

h1
{
    text-align: center;
    font-size: 2em;
    
}

h1
{
    font-weight: normal;
}




main
{
    flex:1;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

#submenu
{
    position: relative;
    box-shadow: 2px 0px 5px rgba(100,100,100,1);
    background-color: rgb(50,50,50);
    z-index: 5;
    min-width: 60px;
}

#submenu-content
{
    min-width: 240px;
    
    padding: 20px;
    
    
    padding-top: 70px;
    position: relative;
}

#submenu-content h2
{
    color:#C746C4;
    border-bottom: 1px solid #C746C4;
    display: none;
}

#submenu-content > .router-link-active
{
    background-color: black;
    border-radius: 5px;
    color:white;
} 

#submenu-content > a
{
    display: block;
    color:grey;
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-weight: 800;
    padding-left: 20px;
}

#content 
{
    flex:1;
    flex-shrink: 1;
    padding: 10px;
    background-color: rgb(230,230,240);
    
}

#content h2
{
    font-weight: normal;
    font-size: 1.5em;
    color:#8A1387;
    margin-bottom: 2px;
    text-align: left;   
}


.partie
{
    padding: 0px 10px;
    margin: auto;
}

.center
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

small
{
    font-weight: normal;
}

.separateur
{
    border-top: 1px solid grey;
    width: 50%;
    margin: 10px auto 0px auto;

}

.inline
{
    display: inline-block;
}

/****** notifications *******/

#notifs
{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 400px;
}

.notif
{
    height: 50px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    height: 60px;
    font-weight: 600;
    margin: 10px 0px;
}

.notif .icon
{
    flex-shrink: 0;
    margin: 0px 10px;
    width: 30px;
    border: none;
    padding: 5px;
}

.notif p
{
    flex-grow: 1;
    text-align: center;
}


.positif
{
    color:green;
}

.negatif
{
    color:red;
}


/*************************/
/*    search User       */
/************************/



.searchResult
{
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 0px 10px rgba(150,150,150,0.2);
    margin: 15px auto;
    /* margin: 15px; */
    border-radius: 5px;
    width: 500px;
    position: relative;
}


.searchResult .username
{
    font-weight: normal;
    font-size: 1.5em;
    padding: 5px;
    color: rgb(70,70,70);

}

.searchResult .name
{
    font-weight: normal;
    color: lightcoral;
    font-size: 0.9em;
    padding: 5px;
}

.searchResult .actions
{
    text-align: right;
    position: absolute;
    top:20px;
    right: 10px;
}

.searchResult .button
{
    height: 20px;
    width: 40px;
    display: inline-block;
}

input[type=search]
{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin: auto;
    display: block;
    padding-left: 5px;
}

input[type=radio].search-result + label
{
    display: block;
    text-decoration: none;
    padding: 10px 10px 1px 10px;
}

input[type=radio].search-result + label:hover
{
    border: 1px solid grey;
    border-radius: 5px;
    padding: 9px 10px 0px 10px; 

}

input[type=radio].search-result:checked + label
{
    border: 1px solid chocolate;
    border-radius: 5px;
    padding: 9px 10px 0px 10px;    
} 

/*********************************/
/*      Form                    */
/********************************/

form .partie
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.partie.no-line
{
    border: none;
}

form .partie .title
{
    width: 250px;
    color: rgb(170,170,170);
}

form .input
{
    flex:1;
    flex-shrink: 0;
    min-width: 500px;
    padding: 5px 0px;
}
label
{
    font-size: 1.1em;
    font-weight: 800;
    min-width: 200px;
    display: inline-block;
}
/* input radio */
input[type=radio].round-radio, input[type=radio].search-result
{
    display: none;
}

input[type=radio].round-radio + label .radio
{
    height: 40px;
    width: 40px;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
    box-shadow: 2px 2px 3px rgba(200,200,200,0.8) inset;
}

input[type=radio].round-radio:checked + label .radio .in
{
    height: 24px;
    width: 24px;
    background-color: black;
    border-radius: 15px;
    margin: auto;
    margin-top: 8px;
    box-shadow: 2px 2px 3px rgba(200,200,200,0.8);
}



input[type=text],input[type=password],input[type=tel],input[type=mail]
{
    height: 40px;
    width: 220px;
    background-color: rgb(250,250,250);
    border: none;
    box-shadow: 1px 1px 8px rgba(100,100,100,0.1);
    border-radius: 4px;
    border: 1px solid darkgray;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

input[type=button],a.button
{
    height: 40px;
    width: 220px;
    border: none;
    box-shadow: 2px 2px 3px rgba(200,200,200,0.5);
    background-color:rgba(40,40,40,1);
    border: 1px solid lightgrey;
    border-radius: 6px;
    color: white;
    margin: 10px 10px;
    text-decoration: none;
    text-align: center;
    font-family: arial;
    font-size: 1.3em;
}

a.button
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

label.vertical
{
    min-width: 250px;
    display: inline-block;
}

/* checkbox */

input[type="checkbox"]
{
    display: none;
}


input[type="checkbox"]:not(:checked) + label, input[type="checkbox"]:checked + label 
{
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    height: 36px;
    width: 100px;
    display: inline-block;
}


input[type="checkbox"]:not(:checked) + label .textUnactiv
{
    position: absolute;
    left: 45px;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    text-align: left;
    top:10px;
}


input[type="checkbox"]:checked + label .textActiv
{
    position: absolute;
    left: 20px;
    vertical-align: middle;
    display: inline-block;
    width: 80px;
    text-align: left;
    top:10px;
}


input[type="checkbox"]:checked + label .textUnactiv
{
    display: none;
}

input[type="checkbox"]:not(:checked) + label .textActiv
{
    display: none;

}

input[type="checkbox"]:checked + label .slider
{
    background-color: grey;
}

input[type="checkbox"]:not(:checked) + label .slider, input[type="checkbox"]:checked + label .slider
{
    position: absolute;
    left: 0px;
    top:0px;
    width: 100px;
    height: 40px;
    margin: 0 !important;   
    border:1px solid rgb(200,200,200);
    border-radius: 25px;
    vertical-align: middle;
    background-color: rgb(230,229,230);
    box-shadow: 1px 1px 3px rgba(200,200,200,0.5) inset;
}

/** round button **/

input[type="checkbox"] + label .puce
{
    height: 34px;
    width: 34px;
    border-radius: 18px;
    background-color: black;
    box-shadow: 2px 2px 3px rgba(150,150,150,0.5);
}

input[type="checkbox"]:not(:checked) + label .puce 
{
    position: absolute;
    left: 3px;
    top: 3px;
    
}

input[type="checkbox"]:checked + label .puce 
{
    position: absolute;
    right: 3px;
    top:3px;
}


/********** information **************/



.partie .info
{
    width: 45%;
    display: inline-block;
    padding: 5px 10px;
    text-align: left;
}

.partie .info h3
{
    display: inline-block;
    padding-right: 10px;
    margin: 0;
    text-align: center;
}

/*********** modal *******************/

.modal-back
{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top:0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal
{
    background-color: white;
    min-width: 500px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.8);
    border-radius: 5px;
    background-color: rgb(230,230,240);
}

.modal .username
{
    color: cadetblue;
}
